.celestial-body-button {
    padding: 3px
}

.celestial-body-button img {
    pointer-events: none;
}

#minimap {
    background-color: black;
    height: 430px;
}

#bookmarks {
    text-align: center;
    text-decoration: underline;
}

#bmbn {
    height:30px ;
    width:150px ;
}

#bookmarkname {
    height:30px ;
    width:280px ;
}